body {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    padding: 4em;
    font-family: 'Roboto', Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2E5147;
    grid-template: 50px 1fr auto / 75% 1fr auto;
}

.pic {
    padding-top: 5px;
    padding-right: 20px;
}

h1 {
    color: #F1E0C5;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
    background-color: #2E5147;
    color: #F1E0C5;
}

.card ul li {
    list-style: none;
    padding: 5px;
    text-align: left;
}

.card {
    background-color: #F1E0C5;
    text-align: center;
}

nav {
    background-color: #F1E0C5;
    top: 0;
    line-height: 1.2em;
    text-align: center;
    list-style-type: none;
    display: grid;
}

nav a:hover {
    background-color: #DA667B;
    color: #000;
}

.place {
    text-align: center;
}

footer {
    text-align: center;
    background-color: #2E5147;
    color: #F1E0C5;
}